body{
    display:flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

header {
    padding: 20px;
    background-color: #333333;
    color: whitesmoke;
}

main {
    padding: 20px;
}