body{
  background-color: rgba(215, 219, 253, 0.541);
}
.joke-container {
  background-color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 50%;
  margin: auto;
  padding: 15px;
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.12);

}
.joke-single {
  color: rgb(119, 119, 119);
  font-family: sans-serif;
  word-spacing: 0.1em;
  letter-spacing: 0.05em;
  margin: 1rem 1rem;
  padding: 1rem 1rem;
  display: flex;
  width:50%;
  align-items: center;
  justify-content: center;

}
.joke-setup, .joke-punchline {
  display: flex;
  margin: 5px 5px;
  padding: 5px 5px;
}
.joke-setup {
  border-right: 0.1em solid rgba(0, 0, 0, 0.1);
  font-size: 1.5rem;
}
.joke-punchline{
  font-size: 1.3rem;

}


