body{
  background-color: rgba(78, 78, 78, 0.178);
}

table {
  width: 100%;
  table-layout: fixed;
}

table, td {
  border: 0.1rem solid black;
  border-collapse: collapse;
}

tr, td {
  padding: 15px;
}

td {
  text-align: left;
}